.headerinfo{
  box-shadow: 0px 2px #eaeaea;
}

.contactinfo {
  color: #6d0000;
}

.fa-envelope {
  padding-right: 10px;
  color: #6d0000;
}

.fa-phone {
  padding-right: 10px;
  padding-left: 20px;
  color: #6d0000;
}

.socialmedialink {
  float: right;
}

.fa-linkedin {
  color: #6d0000;
  padding-right: 10px;
}

.fa-github {
  color: #6d0000;
}


/*header {*/
/*  background-color: #6d0000;*/
/*  border: solid 2px #000000;*/
/*  padding-top: 20px;*/
/*}*/

/*section {*/
/*  color: #6d0000;*/
/*  font-size: 3em;*/
/*  text-align: left;*/
/*}*/

/*.title {*/
  
/*}*/

/*.title a {*/
/*  text-decoration: none;*/
/*  color: #000;*/
/*}*/

/*.slogan {*/
/*  color: #000;*/
/*  font-size: 1em;*/
/*}*/

.top-container {
  margin-top: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.title {
  background: var(--primary);
  min-height: 150px;
  padding: 3rem;
  box-shadow: var(--shadow);
}

.title a {
  color: #000;
  text-decoration: none;
  font-size: 3rem;
  margin-bottom: 0;
  color: var(--dark);
  position: relative;
  animation: titlename;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes titlename {
    0% {top: -60px}
    100% {top: 10px}
}


.title p {
  margin-top: 0px;
  font-size: 1rem;
  color: var(--dark);
}

