.headerinfo a {
  color: var(--dark);
}

.contactinfo {
  
}

.fa-envelope {
  padding-right: 10px;
  
}

.fa-phone {
  padding-right: 10px;
  padding-left: 20px;
  
}

.socialmedialink {
  float: right;
}

.fa-linkedin {
  
  padding-right: 10px;
}

.fa-github {
  
}


.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  background: var(--primary);
  box-shadow: var(--shadow);
}

.title {
  margin-top: 10px;
  min-height: 150px;
  padding: 3rem;
}

.title a {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--dark);
  position: relative;
  animation: titlename;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes titlename {
    0% {top: -60px}
    100% {top: 10px}
}


.title p {
  margin-top: 0px;
  font-size: 1rem;
  color: var(--dark);
}

.logo {
  height: 250px;
  position: relative;
  animation: logo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*@keyframes logo {*/
/*    0% {opacity: 0}*/
/*    100% {opacity: 1}*/
/*}*/


@keyframes logo {
    0% {left: 0px}
    100% {left: 130px}
}


@media(max-width: 700px) {
  .headerinfo{
  display: none;
}

.top-container {
        grid-template-columns: 1fr;
    }


.logo {
  display: none;
}

}

