nav {
  overflow: hidden;
  float: right;
  width: 40%;
  padding-top: 70px;
  
}

nav ul {
  margin: auto;
  display: block;
  list-style-type: none;
}

nav ul li {
  float: right;
  overflow: auto;
  
  font-size: 25px;
}

nav a {
  color: #6d0000;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 20px;
  display: block;
  text-decoration: underline;
}

nav a:hover {
  text-decoration: none;
}