body {
    Margin: 0;
    background-color: #fff;
    padding-top: 0;
}

nav {
  width: 28%;
  overflow: hidden;
  float: right;
  background-color: #c11730;
}

nav ul {
  width: 600px;
  margin: auto;
  display: block;
  list-style-type: none;
}

nav ul li {
  width: 15%;
  float: left;
  overflow: auto;
  text-align: center;
}

nav a {
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-decoration: none;
}
